# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore environment variables file
.env

# Ignore other system files
.DS_Store
Thumbs.db

# Ignore logs
*.log
